$button-width: 49%;
$button-height: 175px;
$radius-size: 100%;
$red-button-color: rgb(151, 0, 0);
$blue-button-color: rgb(1, 1, 145);
$yellow-button-color: rgb(189, 189, 0);
$green-button-color: rgb(0, 94, 0);
$button-hover-light: 15%;

//Action button styles
#buttonContainer {
    width: 30%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.actionButtons {
    height: $button-height;
    width: $button-width;
    box-sizing: border-box;
    outline: none;
    margin-right: 1%;
    margin-bottom: 1%;
}
.inactiveButtons {
    animation:  fade 5s ease-in;
    opacity: 0.5;
}
.gameOver {
    animation: game-over-fade 1s, grow 1s;
    opacity: 0;
}
// Red button styles
#redButton {
    border: none;
    background-color: $red-button-color;
    border-top-left-radius: $radius-size;
    border-top: 30px solid lighten($red-button-color, 5%);
}
#redButton:hover {
    background-color: lighten($red-button-color, $button-hover-light);
}
// Blue button styles
#blueButton {
    border: none;
    background-color:$blue-button-color;
    border-top-right-radius: $radius-size;
    border-top: 30px solid lighten($blue-button-color, 5%);
}
#blueButton:hover {
    background-color: lighten($blue-button-color, $button-hover-light);
}
// Yellow button styles
#yellowButton {
    border: none;
    background-color: $yellow-button-color;
    border-bottom-left-radius: $radius-size;
    border-bottom: 30px solid lighten($yellow-button-color, 5%);
}
#yellowButton:hover {
    background-color: lighten($yellow-button-color, $button-hover-light);
}
// Green button styles
#greenButton {
    border: none;
    background-color: $green-button-color;
    border-bottom-right-radius: $radius-size;
    border-bottom: 30px solid lighten($green-button-color, 5%);
}
#greenButton:hover {
    background-color: lighten($green-button-color, $button-hover-light);
}
//button animations
.animatedRedButton {
    background-color: rgb(252, 157, 174) !important;
    animation: fade-colors 1s;
}
#redButton:active {
    background-color: rgb(167, 105, 116) !important;
}
.animatedGreenButton {
    background-color: rgb(123, 248, 123) !important;
    animation: fade-colors 1s;
}
#greenButton:active {
    background-color: rgb(83, 165, 83) !important;
}
.animatedYellowButton {
    background-color: rgb(248, 248, 157) !important;
    animation: fade-colors 1s;
}
#yellowButton:active {
    background-color: rgb(156, 156, 102) !important;
}
.animatedBlueButton  {
    background-color: rgb(0, 158, 206) !important;
    animation: fade-colors 1s;
}
#blueButton:active {
    background-color: rgb(1, 107, 136) !important;
}

//score display 
#scoreDisplay {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter {
    color: $red-button-color;
    font-family: 'Audiowide', sans-serif;
    font-size: $l-size;
}




//animation 
@keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 0.5; }
  }
@keyframes fade-colors {
    0% {opacity: 1}
    100% {opacity: 0.7}
}
@keyframes game-over-fade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes grow {
    From {
        -webkit-transform: scale(1.0);
    }
    To {
        -webkit-transform: scale(4.0);
    }
}
@media screen and (max-width: 720px) {
    #buttonContainer {
        width: 100%;
        margin-top: 10px;
    }
}